@font-face {
    font-family: 'Quicksand-bold';
    src: url('../assets/fonts/Quicksand-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand-normal';
    src: url('../assets/fonts/Quicksand-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-bold';
    src: url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
}